.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 60;
  background-color: #eae7dc;
  // .header__block

  &__block {
    display: flex;
    align-items: center;
    height: 70px;

  }

  // .header__burger
  &__burger {
    margin: 0 0 0 120px;
    @media (max-width: $md4) {
      margin: 0 0 0 30px;
    }
  }
  // .header__logo

  &__logo {
    color: #000;
    font-weight: 500;
    font-size: 26px;
    flex: 0 1 100px;
    z-index: 60;
    transition: all 0.2s linear;
    @media (min-width: 991.98px) {
      &:hover {
        color: $colorHover;
      }
    }
  }

  // .header__menu

  &__menu {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  // .header__list

  &__list {
    z-index: 60;
    display: flex;
    align-items: center;
    margin: 0 50px 0 0;

    &:last-child {
      margin: 0;
    }
    li {
      margin: 0 20px 0 0;
      &:last-child {
        margin: 0;
      }
      
    }
  }

  // .header__link

  &__link {
    color: #000;
    font-weight: 600;
    line-height: 16px;
    transition: all 0.2s linear;
    cursor: pointer;
    @media (min-width: 991.98px) {
      &:hover {
        color: $colorHover;
      }
    }
    @media (max-width: $md4){
      font-size: 24px;
      font-weight: 400;
      text-transform: uppercase;
    }
  }
  &__basket {
    display: flex;
    align-items: center;
    svg {
      stroke: #000;
      transition: all 0.2s linear;
      @media (min-width: 991.98px) {
        &:hover {
          stroke: $colorHover;
        }
      }
    }
  }
  &__profile {
    svg {
      stroke: #000;
      transition: all 0.2s linear;
      @media (min-width: 991.98px) {
        &:hover {
          stroke: $colorHover;
        }
      }
    }
  }
  &__count {
    font-size: 12px;
    color: #fcfcfa;
    background-color: #e85a4f;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 60;
  }
}
.list{
  @media (max-width: $md4){
    padding: 0 0 0 20%;
    
  }
  li{
    @media (max-width: $md4){
      margin: 0 0 40px 0;
    }
  }
}
.header__burger {
  display: block;
  position: relative;
  z-index: 60;
  width: 30px;
  height: 16px;
  cursor: pointer;

  span {
    position: absolute;
    height: 2px;
    width: 100%;
    transition: all 0.2s linear;
    background-color: #000;

    &:nth-of-type(1) {
      width: 50%;
      top: 0px;
    }
    &:nth-of-type(2) {
      top: 6px;
    }
    &:nth-of-type(3) {
      width: 50%;
      right: 0;
      top: 12px;
    }
  }
  @media (min-width: 991.98px) {
    &:hover {
      span {
        background-color: $colorHover;
      }
    }
  }
}
.header__burger._active span:nth-of-type(2) {
  opacity: 0;
}
.header__burger._active span:nth-of-type(1) {
  width: 100%;
  transform: rotate(-45deg) translate(0px, 50%);
  top: 50%;
}
.header__burger._active span:nth-of-type(3) {
  width: 100%;
  top: 55%;
  transform: rotate(45deg) translate(0px, -50%);
}
/*
.header__body {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  transition: left 0.3s ease 0s;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0 0 0;
  overflow: auto;
}
.header__body._active {
  left: 0;
}
.header__menu {
  display: block;
}
/*
.header__list {
  margin: 0;
  display: block;
  text-align: center;
  li {
    margin: 0 0 20px 0;
    &:first-child {
      margin: 0 0 20px 0;
    }
  }
  &:last-child {
    display: flex;
    justify-content: center;
    li {
      margin: 10px 10px 0 10px;
    }
  }
}
.header__logo {
  z-index: 5;
  position: relative;
}
*/
.categories-header {
  display: none;
  position: absolute;
  left: 0;
  z-index: 50;
  width: 100%;
  top: 0;
  
  @media (max-width: $md4) {
  }
  // .categories-header__list

  &__list {
    
    padding: 50px 50px 50px 20%;
    li {
      margin: 0 0 40px 0;
      &:last-child{
        margin: 0;
      }
    }
  }
  
  // .categories-header__link

  &__link {
    color: #000;
    letter-spacing: 0.05em;
    font-size: 24px;
    text-transform: uppercase;
    @media (min-width: 991.98px) {
      &:hover {
        color: $colorHover;
      }
    }
  }
}
.categories-header._active {
  display: block;
  background-color: #eae7dc;
  top: 70px;
  left: 0;

}
